<%- layout ('layouts/boilerplate') %>

<div class="container d-flex justify-content-center align-items-center mt-1 mb-2">
  <div class="row">
    <div class="col-md-6 col-xl-4">
      <div class="card shadow p-2" style="width:24rem;">
        <img src="https://images.unsplash.com/photo-1517824806704-9040b037703b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" class="card-img-top">
        <form action="/login" method="POST" class="validated-form" novalidate>
          <h1 class="card-title text-center mt-2">Login</h1>
          <div class="mb-2 mt-0">
            <label class="form-label" for="username">Username</label>
            <input class="form-control" type="text" name="username" id="username" required autofocus>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>

          <div class="mb-2">
            <label class="form-label" for="password">Password</label>
            <input class="form-control" type="password" name="password" id="password" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="d-grid">
            <button class="btn btn-success">Login</button>
          </div>
        </form>
        <div class="container mt-2">
          <div class="row">
            <div class="col-md-auto mt-2">
              <p>No account? You should</p>
            </div>
            <div class="col-4">
              <div class="row">
                <a href="/register" class="btn btn-warning">Register</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>