<%- layout ('layouts/boilerplate') %>

<div class="container d-flex justify-content-center align-items-center mb-1">
  <div class="row">
    <div class="col-md-6 col-xl-4">
      <div class="card shadow p-2" style="width: 24rem">
        <img src="https://images.unsplash.com/photo-1517824806704-9040b037703b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" class="card-img-top" />
        <h1 class="text-center">Register</h1>
        <form action="/register" method="POST" class="validated-form" novalidate>
          <div class="mb-2">
            <label class="form-label" for="username">Username</label>
            <input class="form-control" type="text" name="username" id="username" required />
            <div class="valid-feedback">Looks good!</div>
          </div>
          <div class="mb-2">
            <label class="form-label" for="email">Email</label>
            <input class="form-control" type="email" name="email" id="email" required />
            <div class="valid-feedback">Looks good!</div>
          </div>
          <div class="mb-2">
            <label class="form-label" for="password">Password</label>
            <input class="form-control" type="password" name="password" id="password" required />
            <div class="valid-feedback">Looks good!</div>
          </div>
          <div class="d-grid">
            <button class="btn btn-success">Register</button>
          </div>
        </form>
        <div class="container mt-2 pb-0">
          <div class="row">
            <div class="col-md-auto mt-2">
              <p>Registered? You should</p>
            </div>
            <div class="col-4">
              <div class="row">
                <a href="/login" class="btn btn-warning">Login</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>